.albumIMG {
  display: block;
  height: 300px;
  max-width: 100%;
  margin: auto;
  opacity: 90%;
  margin-top: 15%;
  transition: opacity 0.5s ease, height 0.25s;
}

.actual-letter {
  max-width: 33%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: opacity 2s ease;
}

.images {
  align-content: center;
}
.actual-letter p {
  font-family: "Sour Gummy", sans-serif;
  font-size: large;
}

.albumIMG:hover {
  opacity: 100%;
  height: 400px;
  cursor: pointer;
}

.letter {
  position: absolute;
  background: white;
  z-index: 1;
}

.actual-letter img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  max-width: 50%;
  margin: auto;
}

.letter span {
  font-size: 250%;
  opacity: 0;
  margin-left: 20px;
  transition: opacity 1s ease, font-size 0.25s;
  background: none;
}

.letter span:hover {
  font-size: 300%;
  cursor: pointer;
  opacity: 100%;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Sends the video to the back */
  object-fit: cover; /* Ensures the video covers the entire screen without distortion */
  opacity: 0;
  transition: opacity 2s ease;
}

@media only screen and (max-width: 800px) {
  .actual-letter {
    max-width: 80%;
  }
}

